.row.p-3#board(ng-controller='BoardController as board')
	.col-xs-12
		.row.p-3(ng-repeat='row in results')
			h3(ng-bind='row.addon.manifest.name + " " + row.type')
			.col-md-12
				a(
					href='#',
					ng-repeat='item in row.response.metas.slice(0, 6) track by item.id',
					ui-sref='video({ type: item.type, id: item.id })',
				)
					img.img-thumbnail.float-left(
						ng-src='{{::posterUrl(item)}}',
						width='150'
					)

